body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:5870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5870px;
  height:2550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5870px;
  height:2550px;
}
#u2337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5820px;
  height:50px;
  background:inherit;
  background-color:rgba(60, 141, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:5820px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:5820px;
  word-wrap:break-word;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:197px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:169px;
  width:1104px;
  height:197px;
}
#u2339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:196px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:170px;
  width:842px;
  height:196px;
}
#u2340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:196px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:1959px;
  top:170px;
  width:755px;
  height:196px;
}
#u2341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:196px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:2711px;
  top:170px;
  width:962px;
  height:196px;
}
#u2342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:196px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:3670px;
  top:170px;
  width:1097px;
  height:196px;
}
#u2343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:196px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:4764px;
  top:170px;
  width:1076px;
  height:196px;
}
#u2344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:107px;
  width:74px;
  height:19px;
}
#u2345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  white-space:nowrap;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:107px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u2347_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:107px;
  width:64px;
  height:19px;
}
#u2348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:50px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:91px;
  width:404px;
  height:50px;
}
#u2351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:104px;
  width:34px;
  height:26px;
}
#u2352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:108px;
  width:13px;
  height:16px;
}
#u2353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:107px;
  width:176px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u2355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 141, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3C8DBC;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:96px;
  width:127px;
  height:40px;
  color:#3C8DBC;
}
#u2355_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u2356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:391px;
  width:204px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:200px;
  word-wrap:break-word;
}
#u2357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:391px;
  width:191px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:187px;
  word-wrap:break-word;
}
#u2358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:391px;
  width:281px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:277px;
  word-wrap:break-word;
}
#u2359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:455px;
  width:204px;
  height:147px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u2360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
  text-align:left;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:455px;
  width:191px;
  height:147px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
  text-align:left;
}
#u2360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:187px;
  word-wrap:break-word;
}
#u2361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:455px;
  width:281px;
  height:147px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u2361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:277px;
  word-wrap:break-word;
}
#u2362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:284px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:608px;
  width:191px;
  height:284px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
}
#u2362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:187px;
  word-wrap:break-word;
}
#u2363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:284px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:608px;
  width:235px;
  height:284px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:231px;
  word-wrap:break-word;
}
#u2364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:284px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:608px;
  width:204px;
  height:284px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:133px;
  width:200px;
  word-wrap:break-word;
}
#u2365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:984px;
  width:204px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:200px;
  word-wrap:break-word;
}
#u2366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:984px;
  width:281px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:277px;
  word-wrap:break-word;
}
#u2367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:57px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1070px;
  width:204px;
  height:57px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2367_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:200px;
  word-wrap:break-word;
}
#u2368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:57px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:1070px;
  width:281px;
  height:57px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:277px;
  word-wrap:break-word;
}
#u2369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:898px;
  width:204px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u2370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:898px;
  width:235px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:231px;
  word-wrap:break-word;
}
#u2371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:370px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:608px;
  width:41px;
  height:370px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:37px;
  word-wrap:break-word;
}
#u2372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:898px;
  width:191px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:187px;
  word-wrap:break-word;
}
