body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:5870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5870px;
  height:2550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5870px;
  height:2550px;
}
#u4351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5820px;
  height:50px;
  background:inherit;
  background-color:rgba(60, 141, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4352 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:5820px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:5820px;
  word-wrap:break-word;
}
#u4353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:197px;
}
#u4353 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:169px;
  width:1104px;
  height:197px;
}
#u4353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:196px;
}
#u4354 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:170px;
  width:842px;
  height:196px;
}
#u4354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:196px;
}
#u4355 {
  border-width:0px;
  position:absolute;
  left:1959px;
  top:170px;
  width:755px;
  height:196px;
}
#u4355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:196px;
}
#u4356 {
  border-width:0px;
  position:absolute;
  left:2711px;
  top:170px;
  width:962px;
  height:196px;
}
#u4356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:196px;
}
#u4357 {
  border-width:0px;
  position:absolute;
  left:3670px;
  top:170px;
  width:1097px;
  height:196px;
}
#u4357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:196px;
}
#u4358 {
  border-width:0px;
  position:absolute;
  left:4764px;
  top:170px;
  width:1076px;
  height:196px;
}
#u4358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4359 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:107px;
  width:74px;
  height:19px;
}
#u4359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  white-space:nowrap;
}
#u4360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4361 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:107px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u4361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u4362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4362 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:107px;
  width:64px;
  height:19px;
}
#u4362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u4363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:50px;
}
#u4365 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:91px;
  width:404px;
  height:50px;
}
#u4365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4366 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:104px;
  width:34px;
  height:26px;
}
#u4366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4367 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:108px;
  width:13px;
  height:16px;
}
#u4367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4368 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:107px;
  width:176px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u4369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 141, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3C8DBC;
}
#u4369 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:96px;
  width:127px;
  height:40px;
  color:#3C8DBC;
}
#u4369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u4370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4370 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:391px;
  width:204px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:200px;
  word-wrap:break-word;
}
#u4371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4371 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:391px;
  width:191px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:187px;
  word-wrap:break-word;
}
#u4372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4372 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:391px;
  width:281px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:277px;
  word-wrap:break-word;
}
#u4373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u4373 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:455px;
  width:204px;
  height:147px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u4373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u4374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
  text-align:left;
}
#u4374 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:455px;
  width:191px;
  height:147px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
  text-align:left;
}
#u4374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:187px;
  word-wrap:break-word;
}
#u4375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u4375 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:455px;
  width:281px;
  height:147px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u4375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:277px;
  word-wrap:break-word;
}
#u4376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:284px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
}
#u4376 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:608px;
  width:191px;
  height:284px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
}
#u4376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:187px;
  word-wrap:break-word;
}
#u4377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:284px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u4377 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:608px;
  width:235px;
  height:284px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u4377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:231px;
  word-wrap:break-word;
}
#u4378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:284px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4378 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:608px;
  width:204px;
  height:284px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:133px;
  width:200px;
  word-wrap:break-word;
}
#u4379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4379 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:984px;
  width:204px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:200px;
  word-wrap:break-word;
}
#u4380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u4380 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:984px;
  width:281px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u4380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:277px;
  word-wrap:break-word;
}
#u4381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:57px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4381 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1070px;
  width:204px;
  height:57px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:200px;
  word-wrap:break-word;
}
#u4382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:57px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4382 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:1070px;
  width:281px;
  height:57px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:277px;
  word-wrap:break-word;
}
#u4383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4383 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:898px;
  width:204px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u4384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u4384 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:898px;
  width:235px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u4384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:231px;
  word-wrap:break-word;
}
#u4385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:370px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4385 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:608px;
  width:41px;
  height:370px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:37px;
  word-wrap:break-word;
}
#u4386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4386 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:898px;
  width:191px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u4386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:187px;
  word-wrap:break-word;
}
