body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:5870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5870px;
  height:2550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5870px;
  height:2550px;
}
#u2757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5820px;
  height:50px;
  background:inherit;
  background-color:rgba(60, 141, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:5820px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:5820px;
  word-wrap:break-word;
}
#u2759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:197px;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:169px;
  width:1104px;
  height:197px;
}
#u2759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:196px;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:170px;
  width:842px;
  height:196px;
}
#u2760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:196px;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:1959px;
  top:170px;
  width:755px;
  height:196px;
}
#u2761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:196px;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:2711px;
  top:170px;
  width:962px;
  height:196px;
}
#u2762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:196px;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:3670px;
  top:170px;
  width:1097px;
  height:196px;
}
#u2763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:196px;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:4764px;
  top:170px;
  width:1076px;
  height:196px;
}
#u2764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:107px;
  width:74px;
  height:19px;
}
#u2765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  white-space:nowrap;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:107px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u2767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:107px;
  width:64px;
  height:19px;
}
#u2768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:50px;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:91px;
  width:404px;
  height:50px;
}
#u2771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:104px;
  width:34px;
  height:26px;
}
#u2772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:108px;
  width:13px;
  height:16px;
}
#u2773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:107px;
  width:176px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u2775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 141, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3C8DBC;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:96px;
  width:127px;
  height:40px;
  color:#3C8DBC;
}
#u2775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u2776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:391px;
  width:204px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:200px;
  word-wrap:break-word;
}
#u2777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:391px;
  width:191px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:187px;
  word-wrap:break-word;
}
#u2778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:391px;
  width:281px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:277px;
  word-wrap:break-word;
}
#u2779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:455px;
  width:204px;
  height:147px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u2780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
  text-align:left;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:455px;
  width:191px;
  height:147px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
  text-align:left;
}
#u2780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:187px;
  word-wrap:break-word;
}
#u2781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:147px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:455px;
  width:281px;
  height:147px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u2781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:277px;
  word-wrap:break-word;
}
#u2782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:284px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:608px;
  width:191px;
  height:284px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#CC0000;
}
#u2782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:187px;
  word-wrap:break-word;
}
#u2783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:284px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:608px;
  width:235px;
  height:284px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:231px;
  word-wrap:break-word;
}
#u2784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:284px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:608px;
  width:204px;
  height:284px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:133px;
  width:200px;
  word-wrap:break-word;
}
#u2785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:984px;
  width:204px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:200px;
  word-wrap:break-word;
}
#u2786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:984px;
  width:281px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:277px;
  word-wrap:break-word;
}
#u2787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:57px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1070px;
  width:204px;
  height:57px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:200px;
  word-wrap:break-word;
}
#u2788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:57px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:1070px;
  width:281px;
  height:57px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:277px;
  word-wrap:break-word;
}
#u2789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:898px;
  width:204px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u2790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:898px;
  width:235px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u2790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:231px;
  word-wrap:break-word;
}
#u2791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:370px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:608px;
  width:41px;
  height:370px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:37px;
  word-wrap:break-word;
}
#u2792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:898px;
  width:191px;
  height:80px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u2792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:187px;
  word-wrap:break-word;
}
