body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1427px;
  height:142px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:317px;
  width:1427px;
  height:142px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:257px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:452px;
  width:1424px;
  height:257px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(203, 214, 219, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:452px;
  width:483px;
  height:240px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:243px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:449px;
  width:162px;
  height:243px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:240px;
  background:inherit;
  background-color:rgba(241, 245, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(203, 214, 219, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:452px;
  width:241px;
  height:240px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:506px;
  width:226px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:490px;
  width:180px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u788_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:514px;
  width:180px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u789_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:660px;
  width:211px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u790_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:611px;
  width:176px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u791_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:636px;
  width:176px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u792_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:563px;
  width:192px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u793_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:539px;
  width:192px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u794_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:587px;
  width:192px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u795_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(203, 214, 219, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:452px;
  width:487px;
  height:240px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:539px;
  width:192px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u797_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:587px;
  width:277px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u798_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:563px;
  width:192px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u799_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:514px;
  width:244px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u800_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:490px;
  width:187px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u801_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:464px;
  width:122px;
  height:16px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:464px;
  width:140px;
  height:16px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:47px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:692px;
  width:1424px;
  height:47px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:703px;
  width:104px;
  height:26px;
}
#u805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u805_input:disabled {
  color:grayText;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:703px;
  width:183px;
  height:26px;
}
#u806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u806_input:disabled {
  color:grayText;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:703px;
  width:129px;
  height:26px;
}
#u807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u807_input:disabled {
  color:grayText;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:703px;
  width:168px;
  height:26px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:708px;
  width:125px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:99px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:733px;
  width:1424px;
  height:99px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(203, 214, 219, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:732px;
  width:969px;
  height:65px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:99px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:733px;
  width:162px;
  height:99px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:62px;
  background:inherit;
  background-color:rgba(241, 245, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(203, 214, 219, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:734px;
  width:241px;
  height:62px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:756px;
  width:226px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:741px;
  width:104px;
  height:26px;
}
#u816_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u816_input:disabled {
  color:grayText;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:741px;
  width:183px;
  height:26px;
}
#u817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u817_input:disabled {
  color:grayText;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:741px;
  width:129px;
  height:26px;
}
#u818_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u818_input:disabled {
  color:grayText;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:741px;
  width:129px;
  height:26px;
}
#u819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u819_input:disabled {
  color:grayText;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:741px;
  width:129px;
  height:26px;
}
#u820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u820_input:disabled {
  color:grayText;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:29px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:767px;
  width:509px;
  height:29px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:350px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:797px;
  width:1430px;
  height:350px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:188px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:188px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:161px;
  width:103px;
  height:20px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:161px;
  width:59px;
  height:20px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:163px;
  width:147px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:99px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:1424px;
  height:99px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(203, 214, 219, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:185px;
  width:969px;
  height:39px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:99px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:162px;
  height:99px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:37px;
  background:inherit;
  background-color:rgba(241, 245, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(203, 214, 219, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:187px;
  width:241px;
  height:37px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:199px;
  width:226px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:195px;
  width:129px;
  height:22px;
}
#u835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u835_input:disabled {
  color:grayText;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#7E7E7E;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:198px;
  width:53px;
  height:15px;
  font-size:13px;
  color:#7E7E7E;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:195px;
  width:129px;
  height:22px;
}
#u838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u838_input:disabled {
  color:grayText;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#7E7E7E;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:198px;
  width:46px;
  height:15px;
  font-size:13px;
  color:#7E7E7E;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:195px;
  width:129px;
  height:22px;
}
#u841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u841_input:disabled {
  color:grayText;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#7E7E7E;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:199px;
  width:83px;
  height:15px;
  font-size:13px;
  color:#7E7E7E;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:17px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:828px;
  width:205px;
  height:17px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSymbols', 'Apple Symbols';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BCBCBC;
  text-align:left;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:828px;
  width:172px;
  height:22px;
  font-family:'AppleSymbols', 'Apple Symbols';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BCBCBC;
  text-align:left;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:168px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:70px;
  height:70px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:476px;
  width:60px;
  height:60px;
  font-size:20px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:70px;
  height:70px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:702px;
  width:60px;
  height:60px;
  font-size:20px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:70px;
  height:70px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:806px;
  width:60px;
  height:60px;
  font-size:20px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:70px;
  height:70px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:157px;
  width:60px;
  height:60px;
  font-size:20px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:79px;
  width:204px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:200px;
  word-wrap:break-word;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:1647px;
  top:79px;
  width:191px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:187px;
  word-wrap:break-word;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:1845px;
  top:79px;
  width:235px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:231px;
  word-wrap:break-word;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2088px;
  top:79px;
  width:216px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:212px;
  word-wrap:break-word;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:162px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:144px;
  width:18px;
  height:162px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:14px;
  word-wrap:break-word;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:144px;
  width:180px;
  height:51px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:1647px;
  top:144px;
  width:191px;
  height:51px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:187px;
  word-wrap:break-word;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:1845px;
  top:144px;
  width:233px;
  height:51px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:229px;
  word-wrap:break-word;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:104px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:201px;
  width:180px;
  height:104px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:176px;
  word-wrap:break-word;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:104px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:1647px;
  top:201px;
  width:191px;
  height:104px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:187px;
  word-wrap:break-word;
}
#u859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:104px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:1845px;
  top:201px;
  width:235px;
  height:104px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:104px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2088px;
  top:201px;
  width:216px;
  height:104px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:212px;
  word-wrap:break-word;
}
#u861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:162px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:314px;
  width:18px;
  height:162px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:14px;
  word-wrap:break-word;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:113px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:377px;
  width:180px;
  height:113px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:113px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:1647px;
  top:377px;
  width:191px;
  height:113px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  word-wrap:break-word;
}
#u864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:113px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:1845px;
  top:377px;
  width:235px;
  height:113px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:113px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:2088px;
  top:377px;
  width:216px;
  height:113px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:2088px;
  top:144px;
  width:216px;
  height:51px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:212px;
  word-wrap:break-word;
}
