body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:872px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:872px;
}
#u1424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1281px;
  height:48px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1277px;
  word-wrap:break-word;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:68px;
  width:1281px;
  height:590px;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:94px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:274px;
  word-wrap:break-word;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:94px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:0px;
  width:243px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:239px;
  word-wrap:break-word;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:94px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:0px;
  width:760px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:756px;
  word-wrap:break-word;
}
#u1432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:278px;
  height:124px;
}
#u1432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:94px;
  width:243px;
  height:124px;
}
#u1433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:94px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:278px;
  height:124px;
}
#u1435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u1436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:218px;
  width:243px;
  height:124px;
}
#u1436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:218px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u1438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:278px;
  height:124px;
}
#u1438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:342px;
  width:243px;
  height:124px;
}
#u1439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u1440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:342px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u1441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:278px;
  height:124px;
}
#u1441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u1442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:466px;
  width:243px;
  height:124px;
}
#u1442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u1443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:466px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u1444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:711px;
  width:122px;
  height:20px;
  text-align:right;
}
#u1444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
