body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:872px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:872px;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1281px;
  height:48px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1277px;
  word-wrap:break-word;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:68px;
  width:1281px;
  height:590px;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:94px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:274px;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:94px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:0px;
  width:243px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:239px;
  word-wrap:break-word;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:94px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:0px;
  width:760px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:756px;
  word-wrap:break-word;
}
#u3975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:278px;
  height:124px;
}
#u3975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:94px;
  width:243px;
  height:124px;
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:94px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:278px;
  height:124px;
}
#u3978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:218px;
  width:243px;
  height:124px;
}
#u3979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:218px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:278px;
  height:124px;
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:342px;
  width:243px;
  height:124px;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:342px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:278px;
  height:124px;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:466px;
  width:243px;
  height:124px;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:466px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u3987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:711px;
  width:122px;
  height:20px;
  text-align:right;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
