body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:1960px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:26px;
  width:1095px;
  height:1960px;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1068px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:243px;
  width:377px;
  height:1068px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1068px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:243px;
  width:300px;
  height:1068px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1068px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:243px;
  width:300px;
  height:1068px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:340px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:122px;
  word-wrap:break-word;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:498px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:122px;
  word-wrap:break-word;
}
#u1296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:678px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:498px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:560px;
  width:126px;
  height:35px;
  color:#6666FF;
  text-align:left;
}
#u1298_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u1299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:678px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:737px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  color:#6666FF;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:883px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:122px;
  word-wrap:break-word;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1106px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1106px;
  width:88px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:84px;
  word-wrap:break-word;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:883px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:883px;
  width:88px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:84px;
  word-wrap:break-word;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:370px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1308_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:240px;
  height:8px;
}
#u1308_seg1 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:-4px;
  width:8px;
  height:132px;
}
#u1308_seg2 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:113px;
  width:20px;
  height:20px;
}
#u1308_text {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:528px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1309_seg0 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1309_seg1 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:104px;
}
#u1309_seg2 {
  border-width:0px;
  position:absolute;
  left:-240px;
  top:92px;
  width:234px;
  height:8px;
}
#u1309_seg3 {
  border-width:0px;
  position:absolute;
  left:-240px;
  top:92px;
  width:8px;
  height:58px;
}
#u1309_seg4 {
  border-width:0px;
  position:absolute;
  left:-246px;
  top:135px;
  width:20px;
  height:20px;
}
#u1309_text {
  border-width:0px;
  position:absolute;
  left:-147px;
  top:87px;
  width:100px;
  word-wrap:break-word;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:708px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1310_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:177px;
  height:8px;
}
#u1310_seg1 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1310_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:708px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1311_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:239px;
  height:8px;
}
#u1311_seg1 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-4px;
  width:8px;
  height:33px;
}
#u1311_seg2 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:14px;
  width:20px;
  height:20px;
}
#u1311_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:767px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1312_seg0 {
  border-width:0px;
  position:absolute;
  left:-537px;
  top:-4px;
  width:537px;
  height:8px;
}
#u1312_seg1 {
  border-width:0px;
  position:absolute;
  left:-537px;
  top:-4px;
  width:8px;
  height:120px;
}
#u1312_seg2 {
  border-width:0px;
  position:absolute;
  left:-543px;
  top:101px;
  width:20px;
  height:20px;
}
#u1312_text {
  border-width:0px;
  position:absolute;
  left:-374px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:913px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1313_seg0 {
  border-width:0px;
  position:absolute;
  left:-471px;
  top:-4px;
  width:475px;
  height:8px;
}
#u1313_seg1 {
  border-width:0px;
  position:absolute;
  left:-476px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1313_text {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:943px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1314_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u1314_seg1 {
  border-width:0px;
  position:absolute;
  left:-600px;
  top:136px;
  width:604px;
  height:8px;
}
#u1314_seg2 {
  border-width:0px;
  position:absolute;
  left:-600px;
  top:136px;
  width:8px;
  height:27px;
}
#u1314_seg3 {
  border-width:0px;
  position:absolute;
  left:-606px;
  top:148px;
  width:20px;
  height:20px;
}
#u1314_text {
  border-width:0px;
  position:absolute;
  left:-290px;
  top:131px;
  width:100px;
  word-wrap:break-word;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1208px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:996px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1316_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:943px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1317_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1317_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u1317_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:254px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1318_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:314px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1319_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u1319_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:11px;
  width:20px;
  height:20px;
}
#u1319_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:528px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1320_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:372px;
  height:8px;
}
#u1320_seg1 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:-4px;
  width:8px;
  height:616px;
}
#u1320_seg2 {
  border-width:0px;
  position:absolute;
  left:-299px;
  top:604px;
  width:671px;
  height:8px;
}
#u1320_seg3 {
  border-width:0px;
  position:absolute;
  left:-304px;
  top:598px;
  width:20px;
  height:20px;
}
#u1320_text {
  border-width:0px;
  position:absolute;
  left:318px;
  top:444px;
  width:100px;
  word-wrap:break-word;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:1166px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1321_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1321_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u1321_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:794px;
  width:126px;
  height:35px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6666FF;
}
#u1322_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:829px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1323_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u1323_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u1323_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:400px;
  width:126px;
  height:35px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6666FF;
  text-align:left;
}
#u1324_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:435px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1325_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u1325_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u1325_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:188px;
  width:300px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u1327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:188px;
  width:300px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u1328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:188px;
  width:377px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1328_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:373px;
  word-wrap:break-word;
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:73px;
  width:328px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6633FF;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:126px;
  width:290px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6633FF;
}
#u1330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
