body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:1960px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:26px;
  width:1095px;
  height:1960px;
}
#u1493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1068px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:243px;
  width:377px;
  height:1068px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1068px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:243px;
  width:300px;
  height:1068px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1068px;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:243px;
  width:300px;
  height:1068px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:340px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:122px;
  word-wrap:break-word;
}
#u1498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:498px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:122px;
  word-wrap:break-word;
}
#u1499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:678px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:498px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:560px;
  width:126px;
  height:35px;
  color:#6666FF;
  text-align:left;
}
#u1501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u1502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:678px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:737px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  color:#6666FF;
}
#u1503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u1504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:883px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:122px;
  word-wrap:break-word;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1106px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1106px;
  width:88px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6666FF;
}
#u1507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:84px;
  word-wrap:break-word;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:883px;
  width:126px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:883px;
  width:88px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:84px;
  word-wrap:break-word;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:370px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1511_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:240px;
  height:8px;
}
#u1511_seg1 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:-4px;
  width:8px;
  height:132px;
}
#u1511_seg2 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:113px;
  width:20px;
  height:20px;
}
#u1511_text {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:528px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1512_seg0 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1512_seg1 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:104px;
}
#u1512_seg2 {
  border-width:0px;
  position:absolute;
  left:-240px;
  top:92px;
  width:234px;
  height:8px;
}
#u1512_seg3 {
  border-width:0px;
  position:absolute;
  left:-240px;
  top:92px;
  width:8px;
  height:58px;
}
#u1512_seg4 {
  border-width:0px;
  position:absolute;
  left:-246px;
  top:135px;
  width:20px;
  height:20px;
}
#u1512_text {
  border-width:0px;
  position:absolute;
  left:-147px;
  top:87px;
  width:100px;
  word-wrap:break-word;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:708px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1513_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:177px;
  height:8px;
}
#u1513_seg1 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1513_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:708px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1514_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:239px;
  height:8px;
}
#u1514_seg1 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-4px;
  width:8px;
  height:33px;
}
#u1514_seg2 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:14px;
  width:20px;
  height:20px;
}
#u1514_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:767px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1515_seg0 {
  border-width:0px;
  position:absolute;
  left:-537px;
  top:-4px;
  width:537px;
  height:8px;
}
#u1515_seg1 {
  border-width:0px;
  position:absolute;
  left:-537px;
  top:-4px;
  width:8px;
  height:120px;
}
#u1515_seg2 {
  border-width:0px;
  position:absolute;
  left:-543px;
  top:101px;
  width:20px;
  height:20px;
}
#u1515_text {
  border-width:0px;
  position:absolute;
  left:-374px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:913px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1516_seg0 {
  border-width:0px;
  position:absolute;
  left:-471px;
  top:-4px;
  width:475px;
  height:8px;
}
#u1516_seg1 {
  border-width:0px;
  position:absolute;
  left:-476px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1516_text {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:943px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1517_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u1517_seg1 {
  border-width:0px;
  position:absolute;
  left:-600px;
  top:136px;
  width:604px;
  height:8px;
}
#u1517_seg2 {
  border-width:0px;
  position:absolute;
  left:-600px;
  top:136px;
  width:8px;
  height:27px;
}
#u1517_seg3 {
  border-width:0px;
  position:absolute;
  left:-606px;
  top:148px;
  width:20px;
  height:20px;
}
#u1517_text {
  border-width:0px;
  position:absolute;
  left:-290px;
  top:131px;
  width:100px;
  word-wrap:break-word;
}
#u1518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1208px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:996px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:943px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1520_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1520_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u1520_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:254px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:314px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1522_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u1522_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:11px;
  width:20px;
  height:20px;
}
#u1522_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:528px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1523_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:372px;
  height:8px;
}
#u1523_seg1 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:-4px;
  width:8px;
  height:616px;
}
#u1523_seg2 {
  border-width:0px;
  position:absolute;
  left:-299px;
  top:604px;
  width:671px;
  height:8px;
}
#u1523_seg3 {
  border-width:0px;
  position:absolute;
  left:-304px;
  top:598px;
  width:20px;
  height:20px;
}
#u1523_text {
  border-width:0px;
  position:absolute;
  left:318px;
  top:444px;
  width:100px;
  word-wrap:break-word;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:1166px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1524_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1524_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u1524_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:794px;
  width:126px;
  height:35px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6666FF;
}
#u1525_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:829px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1526_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u1526_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u1526_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:400px;
  width:126px;
  height:35px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6666FF;
  text-align:left;
}
#u1527_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:435px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u1528_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u1528_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u1528_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:188px;
  width:300px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1529_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u1530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:188px;
  width:300px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1530_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u1531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:188px;
  width:377px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1531_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:373px;
  word-wrap:break-word;
}
#u1532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:73px;
  width:328px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u1533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6633FF;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:126px;
  width:290px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6633FF;
}
#u1533_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
