body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1282px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1282px;
  height:770px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1282px;
  height:770px;
  font-size:32px;
  text-align:left;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:83px;
  width:303px;
  height:585px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:111px;
  width:100px;
  height:16px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u433_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:111px;
  width:100px;
  height:16px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u434_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:160px;
  width:113px;
  height:16px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u437_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:153px;
  width:78px;
  height:27px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:206px;
  width:113px;
  height:16px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u440_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:199px;
  width:78px;
  height:27px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:252px;
  width:113px;
  height:16px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u443_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:245px;
  width:78px;
  height:27px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:298px;
  width:113px;
  height:16px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u446_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:291px;
  width:78px;
  height:27px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:344px;
  width:113px;
  height:16px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u449_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:337px;
  width:78px;
  height:27px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:390px;
  width:113px;
  height:16px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u452_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:383px;
  width:78px;
  height:27px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:436px;
  width:113px;
  height:16px;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u455_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:429px;
  width:78px;
  height:27px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:482px;
  width:113px;
  height:16px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u458_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:475px;
  width:78px;
  height:27px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:528px;
  width:113px;
  height:16px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u461_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:521px;
  width:78px;
  height:27px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:574px;
  width:113px;
  height:16px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u464_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:567px;
  width:78px;
  height:27px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:620px;
  width:113px;
  height:16px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u467_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:613px;
  width:78px;
  height:27px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:585px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:83px;
  width:103px;
  height:585px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:284px;
  width:99px;
  word-wrap:break-word;
}
#u470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:83px;
  width:204px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:200px;
  word-wrap:break-word;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:83px;
  width:191px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:187px;
  word-wrap:break-word;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:83px;
  width:235px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:231px;
  word-wrap:break-word;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:59px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:83px;
  width:129px;
  height:59px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:148px;
  width:173px;
  height:119px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:169px;
  word-wrap:break-word;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:148px;
  width:191px;
  height:119px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:187px;
  word-wrap:break-word;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:148px;
  width:235px;
  height:119px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:231px;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:148px;
  width:129px;
  height:119px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:125px;
  word-wrap:break-word;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:148px;
  width:25px;
  height:119px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:21px;
  word-wrap:break-word;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:273px;
  width:173px;
  height:75px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:169px;
  word-wrap:break-word;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:273px;
  width:191px;
  height:75px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:187px;
  word-wrap:break-word;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:273px;
  width:25px;
  height:75px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:354px;
  width:143px;
  height:78px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:354px;
  width:191px;
  height:78px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:354px;
  width:175px;
  height:78px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:171px;
  word-wrap:break-word;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:390px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:354px;
  width:25px;
  height:390px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:21px;
  word-wrap:break-word;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:354px;
  width:21px;
  height:78px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:306px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:438px;
  width:170px;
  height:306px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:144px;
  width:166px;
  word-wrap:break-word;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:306px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:438px;
  width:191px;
  height:306px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:135px;
  width:187px;
  word-wrap:break-word;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:306px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:438px;
  width:175px;
  height:306px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:171px;
  word-wrap:break-word;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:273px;
  width:235px;
  height:75px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:231px;
  word-wrap:break-word;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:390px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:354px;
  width:54px;
  height:390px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:50px;
  word-wrap:break-word;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:17px;
  width:986px;
  height:45px;
  font-size:32px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  word-wrap:break-word;
}
