body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1337px;
  height:1287px;
}
#u4800 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1337px;
  height:1287px;
}
#u4800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:753px;
}
#u4802 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:523px;
  width:1273px;
  height:753px;
}
#u4802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4803 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:550px;
  width:55px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4804 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:576px;
  width:136px;
  height:18px;
}
#u4804_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u4804_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4805 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:576px;
  width:165px;
  height:18px;
}
#u4805_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u4805_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#9966FF;
}
#u4806 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1162px;
  width:995px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#9966FF;
}
#u4806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  white-space:nowrap;
}
#u4807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4807 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:550px;
  width:73px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4808 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:656px;
  width:100px;
  height:16px;
}
#u4808_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4808_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4809 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:630px;
  width:79px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4810 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:728px;
  width:79px;
  height:16px;
}
#u4810_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u4810_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4811 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:702px;
  width:31px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4812 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:728px;
  width:85px;
  height:16px;
}
#u4812_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u4812_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4813 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:728px;
  width:87px;
  height:16px;
}
#u4813_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4813_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4814 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:728px;
  width:87px;
  height:16px;
}
#u4814_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4814_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4815 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:728px;
  width:87px;
  height:16px;
}
#u4815_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4815_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4816 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:728px;
  width:87px;
  height:16px;
}
#u4816_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4816_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4817 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:728px;
  width:87px;
  height:16px;
}
#u4817_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4817_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4818 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:728px;
  width:87px;
  height:16px;
}
#u4818_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4818_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4819 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:803px;
  width:79px;
  height:16px;
}
#u4819_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u4819_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4820 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:777px;
  width:28px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4821 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:803px;
  width:85px;
  height:16px;
}
#u4821_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u4821_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4822 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:803px;
  width:87px;
  height:16px;
}
#u4822_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4822_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4823 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:803px;
  width:87px;
  height:16px;
}
#u4823_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4823_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4824 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:803px;
  width:87px;
  height:16px;
}
#u4824_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4824_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4825 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:803px;
  width:87px;
  height:16px;
}
#u4825_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4825_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4826 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:803px;
  width:87px;
  height:16px;
}
#u4826_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4826_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4827 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:803px;
  width:87px;
  height:16px;
}
#u4827_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4827_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4828 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:877px;
  width:100px;
  height:16px;
}
#u4828_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4828_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4829 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:851px;
  width:40px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4830 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:957px;
  width:100px;
  height:16px;
}
#u4830_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4830_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4831 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:931px;
  width:78px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u4832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:143px;
}
#u4832 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:999px;
  width:1132px;
  height:143px;
}
#u4832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:994px;
  height:389px;
}
#u4833 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:80px;
  width:994px;
  height:389px;
}
#u4833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4834_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:67px;
}
#u4834 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:471px;
  width:5px;
  height:52px;
}
#u4834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#9966FF;
}
#u4835 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:29px;
  width:255px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#9966FF;
}
#u4835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u4836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4836 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:532px;
  width:349px;
  height:79px;
}
#u4836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
