body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1337px;
  height:1287px;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1337px;
  height:1287px;
}
#u2786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:753px;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:523px;
  width:1273px;
  height:753px;
}
#u2788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:550px;
  width:55px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:576px;
  width:136px;
  height:18px;
}
#u2790_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u2790_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:576px;
  width:165px;
  height:18px;
}
#u2791_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u2791_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#9966FF;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1162px;
  width:995px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#9966FF;
}
#u2792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  white-space:nowrap;
}
#u2793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:550px;
  width:73px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:656px;
  width:100px;
  height:16px;
}
#u2794_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2794_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:630px;
  width:79px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:728px;
  width:79px;
  height:16px;
}
#u2796_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u2796_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:702px;
  width:31px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:728px;
  width:85px;
  height:16px;
}
#u2798_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2798_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:728px;
  width:87px;
  height:16px;
}
#u2799_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2799_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:728px;
  width:87px;
  height:16px;
}
#u2800_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2800_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:728px;
  width:87px;
  height:16px;
}
#u2801_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2801_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:728px;
  width:87px;
  height:16px;
}
#u2802_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2802_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:728px;
  width:87px;
  height:16px;
}
#u2803_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2803_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:728px;
  width:87px;
  height:16px;
}
#u2804_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2804_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:803px;
  width:79px;
  height:16px;
}
#u2805_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u2805_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:777px;
  width:28px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:803px;
  width:85px;
  height:16px;
}
#u2807_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2807_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:803px;
  width:87px;
  height:16px;
}
#u2808_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2808_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:803px;
  width:87px;
  height:16px;
}
#u2809_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2809_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:803px;
  width:87px;
  height:16px;
}
#u2810_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2810_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:803px;
  width:87px;
  height:16px;
}
#u2811_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2811_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2812 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:803px;
  width:87px;
  height:16px;
}
#u2812_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2812_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:803px;
  width:87px;
  height:16px;
}
#u2813_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2813_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:877px;
  width:100px;
  height:16px;
}
#u2814_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2814_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:851px;
  width:40px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:957px;
  width:100px;
  height:16px;
}
#u2816_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2816_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:931px;
  width:78px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:143px;
}
#u2818 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:999px;
  width:1132px;
  height:143px;
}
#u2818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:994px;
  height:389px;
}
#u2819 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:80px;
  width:994px;
  height:389px;
}
#u2819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2820_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:67px;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:471px;
  width:5px;
  height:52px;
}
#u2820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#9966FF;
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:29px;
  width:255px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#9966FF;
}
#u2821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u2822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:532px;
  width:349px;
  height:79px;
}
#u2822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
