body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1814px;
  height:1359px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1814px;
  height:1359px;
}
#u2357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1679px;
  height:877px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:428px;
  width:1679px;
  height:877px;
}
#u2359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:444px;
  width:543px;
  height:265px;
}
#u2361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:444px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:514px;
  width:138px;
  height:16px;
}
#u2363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:536px;
  width:419px;
  height:27px;
}
#u2364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2364_input:disabled {
  color:grayText;
}
#u2365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:644px;
  width:110px;
  height:33px;
}
#u2365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:644px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9966FF;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:568px;
  width:523px;
  height:74px;
  color:#9966FF;
}
#u2367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u2368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:458px;
  width:176px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:444px;
  width:543px;
  height:265px;
}
#u2370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:444px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:514px;
  width:309px;
  height:16px;
}
#u2372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:536px;
  width:419px;
  height:27px;
}
#u2373_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2373_input:disabled {
  color:grayText;
}
#u2374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:644px;
  width:110px;
  height:33px;
}
#u2374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:644px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9966FF;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:585px;
  width:523px;
  height:36px;
  color:#9966FF;
}
#u2376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:444px;
  width:543px;
  height:265px;
}
#u2378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:444px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:1554px;
  top:565px;
  width:110px;
  height:33px;
}
#u2380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:565px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:519px;
  width:371px;
  height:16px;
}
#u2382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u2383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:628px;
  width:523px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:737px;
  width:543px;
  height:486px;
}
#u2385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:737px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:820px;
  width:105px;
  height:16px;
}
#u2387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:821px;
  width:300px;
  height:25px;
}
#u2388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:963px;
  width:110px;
  height:33px;
}
#u2389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:963px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:848px;
  width:227px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u2391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u2392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:887px;
  width:55px;
  height:16px;
}
#u2392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:887px;
  width:300px;
  height:29px;
}
#u2393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2393_input:disabled {
  color:grayText;
}
#u2394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1061px;
  width:520px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:737px;
  width:543px;
  height:486px;
}
#u2396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:737px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:820px;
  width:105px;
  height:16px;
}
#u2398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:919px;
  width:110px;
  height:33px;
}
#u2399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:919px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:820px;
  width:179px;
  height:16px;
  color:#666666;
}
#u2401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u2402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:860px;
  width:55px;
  height:16px;
}
#u2402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:858px;
  width:300px;
  height:29px;
}
#u2403_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2403_input:disabled {
  color:grayText;
}
#u2404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1061px;
  width:520px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:232px;
  width:1335px;
  height:175px;
}
#u2407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:43px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:43px;
}
#u2407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:43px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:125px;
  height:43px;
}
#u2408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u2409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:43px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:0px;
  width:144px;
  height:43px;
}
#u2409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:0px;
  width:129px;
  height:43px;
}
#u2410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  word-wrap:break-word;
}
#u2411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:43px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:0px;
  width:112px;
  height:43px;
}
#u2411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:43px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:0px;
  width:104px;
  height:43px;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u2413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:43px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:0px;
  width:111px;
  height:43px;
}
#u2413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:107px;
  word-wrap:break-word;
}
#u2414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:0px;
  width:68px;
  height:43px;
}
#u2414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u2415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:43px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:0px;
  width:67px;
  height:43px;
}
#u2415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:63px;
  word-wrap:break-word;
}
#u2416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:0px;
  width:62px;
  height:43px;
}
#u2416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u2417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:43px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:0px;
  width:79px;
  height:43px;
}
#u2417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:0px;
  width:190px;
  height:43px;
}
#u2418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u2419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:144px;
  height:38px;
}
#u2419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:43px;
  width:125px;
  height:38px;
}
#u2420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u2421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:43px;
  width:144px;
  height:38px;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u2422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:43px;
  width:129px;
  height:38px;
}
#u2422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u2423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:43px;
  width:112px;
  height:38px;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u2424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:38px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:43px;
  width:104px;
  height:38px;
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u2425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:38px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:43px;
  width:111px;
  height:38px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u2426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:43px;
  width:68px;
  height:38px;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u2427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:43px;
  width:67px;
  height:38px;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u2428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:38px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:43px;
  width:62px;
  height:38px;
  color:#000000;
}
#u2428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u2429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:38px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:43px;
  width:79px;
  height:38px;
  color:#000000;
}
#u2429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u2430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:38px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:43px;
  width:190px;
  height:38px;
  color:#3366CC;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u2431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:144px;
  height:36px;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u2432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:81px;
  width:125px;
  height:36px;
}
#u2432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u2433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:81px;
  width:144px;
  height:36px;
}
#u2433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u2434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:36px;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:81px;
  width:129px;
  height:36px;
}
#u2434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u2435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:81px;
  width:112px;
  height:36px;
}
#u2435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:81px;
  width:104px;
  height:36px;
}
#u2436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u2437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:81px;
  width:111px;
  height:36px;
}
#u2437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:81px;
  width:68px;
  height:36px;
}
#u2438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u2439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:81px;
  width:67px;
  height:36px;
}
#u2439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u2440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:81px;
  width:62px;
  height:36px;
  color:#000000;
}
#u2440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:81px;
  width:79px;
  height:36px;
  color:#000000;
}
#u2441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u2442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:81px;
  width:190px;
  height:36px;
  color:#3366CC;
}
#u2442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:58px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:144px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  word-wrap:break-word;
}
#u2444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:58px;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:117px;
  width:125px;
  height:58px;
  color:#9966FF;
}
#u2444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:121px;
  word-wrap:break-word;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:58px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:117px;
  width:144px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:140px;
  word-wrap:break-word;
}
#u2446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:117px;
  width:129px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:125px;
  word-wrap:break-word;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:58px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:117px;
  width:112px;
  height:58px;
}
#u2447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:58px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:117px;
  width:104px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:58px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:117px;
  width:111px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:58px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:117px;
  width:68px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:64px;
  word-wrap:break-word;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:58px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:117px;
  width:67px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  word-wrap:break-word;
}
#u2452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:117px;
  width:62px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:58px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:117px;
  width:79px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  word-wrap:break-word;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:58px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:117px;
  width:190px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:186px;
  word-wrap:break-word;
}
#u2455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:189px;
  width:140px;
  height:33px;
  color:#3366CC;
}
#u2455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:196px;
  width:210px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u2457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:13px;
  width:1335px;
  height:48px;
  color:#FFFFFF;
  text-align:left;
}
#u2457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1331px;
  word-wrap:break-word;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:106px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:71px;
  width:1335px;
  height:106px;
}
#u2459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:82px;
  width:167px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u2461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:163px;
  word-wrap:break-word;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:82px;
  width:117px;
  height:26px;
}
#u2462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2462_input:disabled {
  color:grayText;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:88px;
  width:82px;
  height:14px;
  font-size:12px;
}
#u2465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u2466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:82px;
  width:119px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u2466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 141, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:126px;
  width:75px;
  height:30px;
  color:#FFFFFF;
}
#u2467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:126px;
  width:71px;
  height:30px;
  color:#3366CC;
}
#u2468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u2469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:85px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
