body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1814px;
  height:1359px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1814px;
  height:1359px;
}
#u2722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1679px;
  height:877px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2724 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:428px;
  width:1679px;
  height:877px;
}
#u2724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2726 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:444px;
  width:543px;
  height:265px;
}
#u2726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:444px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:514px;
  width:138px;
  height:16px;
}
#u2728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u2729 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:536px;
  width:419px;
  height:27px;
}
#u2729_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2729_input:disabled {
  color:grayText;
}
#u2730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:644px;
  width:110px;
  height:33px;
}
#u2730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:644px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9966FF;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:568px;
  width:523px;
  height:74px;
  color:#9966FF;
}
#u2732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u2733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:458px;
  width:176px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:444px;
  width:543px;
  height:265px;
}
#u2735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:444px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:514px;
  width:309px;
  height:16px;
}
#u2737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:536px;
  width:419px;
  height:27px;
}
#u2738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2738_input:disabled {
  color:grayText;
}
#u2739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:644px;
  width:110px;
  height:33px;
}
#u2739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:644px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9966FF;
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:585px;
  width:523px;
  height:36px;
  color:#9966FF;
}
#u2741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u2742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2743 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:444px;
  width:543px;
  height:265px;
}
#u2743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2744 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:444px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2745 {
  border-width:0px;
  position:absolute;
  left:1554px;
  top:565px;
  width:110px;
  height:33px;
}
#u2745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2746 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:565px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2747 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:519px;
  width:371px;
  height:16px;
}
#u2747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u2748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2748 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:628px;
  width:523px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:737px;
  width:543px;
  height:486px;
}
#u2750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2751 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:737px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:820px;
  width:105px;
  height:16px;
}
#u2752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:821px;
  width:300px;
  height:25px;
}
#u2753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:963px;
  width:110px;
  height:33px;
}
#u2754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:963px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:848px;
  width:227px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u2756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u2757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:887px;
  width:55px;
  height:16px;
}
#u2757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:887px;
  width:300px;
  height:29px;
}
#u2758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2758_input:disabled {
  color:grayText;
}
#u2759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1061px;
  width:520px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:737px;
  width:543px;
  height:486px;
}
#u2761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:737px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:820px;
  width:105px;
  height:16px;
}
#u2763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:919px;
  width:110px;
  height:33px;
}
#u2764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:919px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:820px;
  width:179px;
  height:16px;
  color:#666666;
}
#u2766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u2767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:860px;
  width:55px;
  height:16px;
}
#u2767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:858px;
  width:300px;
  height:29px;
}
#u2768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2768_input:disabled {
  color:grayText;
}
#u2769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1061px;
  width:520px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:232px;
  width:1335px;
  height:175px;
}
#u2772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:43px;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:43px;
}
#u2772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:43px;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:125px;
  height:43px;
}
#u2773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u2774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:43px;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:0px;
  width:144px;
  height:43px;
}
#u2774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:0px;
  width:129px;
  height:43px;
}
#u2775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  word-wrap:break-word;
}
#u2776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:43px;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:0px;
  width:112px;
  height:43px;
}
#u2776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u2777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:43px;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:0px;
  width:104px;
  height:43px;
}
#u2777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:43px;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:0px;
  width:111px;
  height:43px;
}
#u2778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:107px;
  word-wrap:break-word;
}
#u2779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:0px;
  width:68px;
  height:43px;
}
#u2779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u2780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:43px;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:0px;
  width:67px;
  height:43px;
}
#u2780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:63px;
  word-wrap:break-word;
}
#u2781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:0px;
  width:62px;
  height:43px;
}
#u2781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u2782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:43px;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:0px;
  width:79px;
  height:43px;
}
#u2782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u2783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:0px;
  width:190px;
  height:43px;
}
#u2783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u2784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:144px;
  height:38px;
}
#u2784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u2785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:43px;
  width:125px;
  height:38px;
}
#u2785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u2786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:43px;
  width:144px;
  height:38px;
}
#u2786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u2787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:43px;
  width:129px;
  height:38px;
}
#u2787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u2788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:43px;
  width:112px;
  height:38px;
}
#u2788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u2789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:38px;
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:43px;
  width:104px;
  height:38px;
}
#u2789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u2790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:38px;
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:43px;
  width:111px;
  height:38px;
}
#u2790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u2791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:43px;
  width:68px;
  height:38px;
}
#u2791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u2792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:43px;
  width:67px;
  height:38px;
}
#u2792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u2793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:38px;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:43px;
  width:62px;
  height:38px;
  color:#000000;
}
#u2793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u2794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:38px;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:43px;
  width:79px;
  height:38px;
  color:#000000;
}
#u2794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u2795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:38px;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:43px;
  width:190px;
  height:38px;
  color:#3366CC;
}
#u2795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u2796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:144px;
  height:36px;
}
#u2796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u2797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:81px;
  width:125px;
  height:36px;
}
#u2797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u2798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:81px;
  width:144px;
  height:36px;
}
#u2798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u2799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:36px;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:81px;
  width:129px;
  height:36px;
}
#u2799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u2800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:81px;
  width:112px;
  height:36px;
}
#u2800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u2801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:81px;
  width:104px;
  height:36px;
}
#u2801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u2802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:81px;
  width:111px;
  height:36px;
}
#u2802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:81px;
  width:68px;
  height:36px;
}
#u2803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u2804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:81px;
  width:67px;
  height:36px;
}
#u2804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u2805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:81px;
  width:62px;
  height:36px;
  color:#000000;
}
#u2805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:81px;
  width:79px;
  height:36px;
  color:#000000;
}
#u2806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u2807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:81px;
  width:190px;
  height:36px;
  color:#3366CC;
}
#u2807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:58px;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:144px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  word-wrap:break-word;
}
#u2809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:58px;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:117px;
  width:125px;
  height:58px;
  color:#9966FF;
}
#u2809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:121px;
  word-wrap:break-word;
}
#u2810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:58px;
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:117px;
  width:144px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:140px;
  word-wrap:break-word;
}
#u2811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:117px;
  width:129px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:125px;
  word-wrap:break-word;
}
#u2812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:58px;
}
#u2812 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:117px;
  width:112px;
  height:58px;
}
#u2812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:58px;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:117px;
  width:104px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u2814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:58px;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:117px;
  width:111px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u2815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:58px;
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:117px;
  width:68px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:64px;
  word-wrap:break-word;
}
#u2816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:58px;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:117px;
  width:67px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  word-wrap:break-word;
}
#u2817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:117px;
  width:62px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:58px;
}
#u2818 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:117px;
  width:79px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  word-wrap:break-word;
}
#u2819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:58px;
}
#u2819 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:117px;
  width:190px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:186px;
  word-wrap:break-word;
}
#u2820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:189px;
  width:140px;
  height:33px;
  color:#3366CC;
}
#u2820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:196px;
  width:210px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u2822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:13px;
  width:1335px;
  height:48px;
  color:#FFFFFF;
  text-align:left;
}
#u2822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1331px;
  word-wrap:break-word;
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:106px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:71px;
  width:1335px;
  height:106px;
}
#u2824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:82px;
  width:167px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u2826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:163px;
  word-wrap:break-word;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:82px;
  width:117px;
  height:26px;
}
#u2827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2827_input:disabled {
  color:grayText;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:88px;
  width:82px;
  height:14px;
  font-size:12px;
}
#u2830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u2831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:82px;
  width:119px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u2831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 141, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:126px;
  width:75px;
  height:30px;
  color:#FFFFFF;
}
#u2832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:126px;
  width:71px;
  height:30px;
  color:#3366CC;
}
#u2833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u2834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:85px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
