body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1147px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:719px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:812px;
  height:719px;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:555px;
  width:163px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:555px;
  width:111px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:107px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:234px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:69px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:106px;
  width:579px;
  height:69px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:575px;
  word-wrap:break-word;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:631px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:314px;
  width:180px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:62px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:403px;
  width:204px;
  height:62px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:200px;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:631px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:556px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:556px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:556px;
  width:136px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:175px;
  width:0px;
  height:0px;
}
#u3995_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u3995_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:284px;
  width:0px;
  height:0px;
}
#u3996_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u3996_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:15px;
  width:20px;
  height:20px;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:334px;
  width:0px;
  height:0px;
}
#u3997_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-4px;
  width:20px;
  height:8px;
}
#u3997_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-4px;
  width:8px;
  height:73px;
}
#u3997_seg2 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:54px;
  width:20px;
  height:20px;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:62px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:437px;
  width:157px;
  height:62px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:153px;
  word-wrap:break-word;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:434px;
  width:0px;
  height:0px;
}
#u3999_seg0 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-4px;
  width:80px;
  height:8px;
}
#u3999_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-4px;
  width:8px;
  height:149px;
}
#u3999_seg2 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:137px;
  width:33px;
  height:8px;
}
#u3999_seg3 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:131px;
  width:20px;
  height:20px;
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:434px;
  width:0px;
  height:0px;
}
#u4000_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:210px;
  height:8px;
}
#u4000_seg1 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:-5px;
  width:8px;
  height:9px;
}
#u4000_seg2 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:-5px;
  width:14px;
  height:8px;
}
#u4000_seg3 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:-11px;
  width:20px;
  height:20px;
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:468px;
  width:0px;
  height:0px;
}
#u4001_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u4001_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:92px;
}
#u4001_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:73px;
  width:20px;
  height:20px;
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:468px;
  width:0px;
  height:0px;
}
#u4002_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u4002_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:8px;
  height:80px;
}
#u4002_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:68px;
  width:11px;
  height:8px;
}
#u4002_seg3 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:68px;
  width:8px;
  height:20px;
}
#u4002_seg4 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:73px;
  width:20px;
  height:20px;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:576px;
  width:0px;
  height:0px;
}
#u4003_seg0 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-4px;
  width:55px;
  height:8px;
}
#u4003_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-5px;
  width:8px;
  height:9px;
}
#u4003_seg2 {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:-5px;
  width:105px;
  height:8px;
}
#u4003_seg3 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:-11px;
  width:20px;
  height:20px;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:576px;
  width:0px;
  height:0px;
}
#u4004_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u4004_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:596px;
  width:0px;
  height:0px;
}
#u4005_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u4005_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:595px;
  width:0px;
  height:0px;
}
#u4006_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u4006_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 255, 0.447058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:314px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:128px;
  word-wrap:break-word;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:334px;
  width:0px;
  height:0px;
}
#u4009_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u4009_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:354px;
  width:0px;
  height:0px;
}
#u4010_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u4010_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:68px;
  width:20px;
  height:20px;
}
#u4010_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:93px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:189px;
  width:235px;
  height:93px;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:202px;
  width:200px;
  height:34px;
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u4014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:246px;
  width:151px;
  height:18px;
  color:#FF6600;
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u4015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:48px;
  width:182px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u4015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u4016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:772px;
  width:1137px;
  height:375px;
}
#u4016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1094px;
  height:135px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:813px;
  width:1094px;
  height:135px;
}
#u4017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:99px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:843px;
  width:1005px;
  height:99px;
}
#u4018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:861px;
  width:327px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
#u4019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:892px;
  width:60px;
  height:25px;
}
#u4020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:898px;
  width:47px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u4022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6633FF;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:792px;
  width:271px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6633FF;
}
#u4022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
