body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:872px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:872px;
}
#u3974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1281px;
  height:48px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1277px;
  word-wrap:break-word;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:304px;
  width:1281px;
  height:466px;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:94px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:816px;
  word-wrap:break-word;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:94px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:245px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:241px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:94px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:0px;
  width:216px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:212px;
  word-wrap:break-word;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:124px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:820px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:816px;
  word-wrap:break-word;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:124px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:94px;
  width:245px;
  height:124px;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:241px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:124px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:94px;
  width:216px;
  height:124px;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:212px;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:124px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:820px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:816px;
  word-wrap:break-word;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:124px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:218px;
  width:245px;
  height:124px;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:241px;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:124px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:218px;
  width:216px;
  height:124px;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:212px;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:124px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:820px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:816px;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:124px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:342px;
  width:245px;
  height:124px;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:241px;
  word-wrap:break-word;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:124px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:342px;
  width:216px;
  height:124px;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:212px;
  word-wrap:break-word;
}
#u3991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:829px;
  width:122px;
  height:20px;
  text-align:right;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u3992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:226px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:68px;
  width:1281px;
  height:226px;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:86px;
  width:1245px;
  height:150px;
}
#u3993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1245px;
  height:150px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:248px;
  width:104px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u3995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:872px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:882px;
  width:1309px;
  height:872px;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:892px;
  width:1281px;
  height:48px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1277px;
  word-wrap:break-word;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1186px;
  width:1281px;
  height:466px;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:94px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:816px;
  word-wrap:break-word;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:94px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:245px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:241px;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:94px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:0px;
  width:216px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:212px;
  word-wrap:break-word;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:124px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:820px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:816px;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:124px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:94px;
  width:245px;
  height:124px;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:241px;
  word-wrap:break-word;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:124px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:94px;
  width:216px;
  height:124px;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:212px;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:124px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:820px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:816px;
  word-wrap:break-word;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:124px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:218px;
  width:245px;
  height:124px;
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:241px;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:124px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:218px;
  width:216px;
  height:124px;
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:212px;
  word-wrap:break-word;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:124px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:820px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:816px;
  word-wrap:break-word;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:124px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:342px;
  width:245px;
  height:124px;
}
#u4010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:241px;
  word-wrap:break-word;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:124px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:342px;
  width:216px;
  height:124px;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:212px;
  word-wrap:break-word;
}
#u4012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:1711px;
  width:122px;
  height:20px;
  text-align:right;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u4013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:226px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:950px;
  width:1281px;
  height:226px;
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:968px;
  width:1245px;
  height:150px;
}
#u4014_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1245px;
  height:150px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:1130px;
  width:104px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
