body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1814px;
  height:1143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1814px;
  height:1143px;
}
#u2584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:106px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:78px;
  width:1211px;
  height:106px;
}
#u2586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:99px;
  width:74px;
  height:14px;
  font-size:12px;
}
#u2589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:93px;
  width:167px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u2590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:163px;
  word-wrap:break-word;
}
#u2591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:28px;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:92px;
  width:711px;
  height:28px;
}
#u2591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:99px;
  width:64px;
  height:14px;
  font-size:12px;
}
#u2594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:93px;
  width:116px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u2595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 141, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:138px;
  width:75px;
  height:30px;
  color:#FFFFFF;
}
#u2596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:138px;
  width:71px;
  height:30px;
  color:#3366CC;
}
#u2597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u2598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:129px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1709px;
  height:641px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:416px;
  width:1709px;
  height:641px;
}
#u2600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:421px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:459px;
  width:543px;
  height:421px;
}
#u2602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:459px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:534px;
  width:84px;
  height:16px;
}
#u2604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u2605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:608px;
  width:90px;
  height:16px;
}
#u2605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:534px;
  width:300px;
  height:25px;
}
#u2606_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:608px;
  width:48px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u2607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:626px;
  width:300px;
  height:27px;
}
#u2608_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2608_input:disabled {
  color:grayText;
}
#u2609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:677px;
  width:88px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u2609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:695px;
  width:300px;
  height:27px;
}
#u2610_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2610_input:disabled {
  color:grayText;
}
#u2611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:767px;
  width:110px;
  height:33px;
}
#u2611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:767px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:561px;
  width:331px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u2613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u2614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:833px;
  width:281px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:459px;
  width:543px;
  height:177px;
}
#u2616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:459px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:1563px;
  top:580px;
  width:110px;
  height:33px;
}
#u2618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:580px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:534px;
  width:464px;
  height:16px;
}
#u2620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  white-space:nowrap;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:421px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:459px;
  width:543px;
  height:421px;
}
#u2622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.776470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:459px;
  width:543px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  word-wrap:break-word;
}
#u2624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:534px;
  width:84px;
  height:16px;
}
#u2624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u2625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:608px;
  width:90px;
  height:16px;
}
#u2625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:534px;
  width:300px;
  height:25px;
}
#u2626_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:608px;
  width:48px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u2627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:626px;
  width:300px;
  height:27px;
}
#u2628_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2628_input:disabled {
  color:grayText;
}
#u2629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:677px;
  width:88px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u2629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:695px;
  width:300px;
  height:27px;
}
#u2630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2630_input:disabled {
  color:grayText;
}
#u2631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:767px;
  width:110px;
  height:33px;
}
#u2631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:767px;
  width:110px;
  height:33px;
  color:#3366CC;
}
#u2632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u2633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:561px;
  width:331px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u2633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:673px;
  width:543px;
  height:207px;
}
#u2635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:698px;
  width:523px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:237px;
  width:1199px;
  height:157px;
}
#u2639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:43px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:43px;
}
#u2639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:43px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:144px;
  height:43px;
}
#u2640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:43px;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:0px;
  width:310px;
  height:43px;
}
#u2641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:306px;
  word-wrap:break-word;
}
#u2642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:43px;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:106px;
  height:43px;
}
#u2642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:102px;
  word-wrap:break-word;
}
#u2643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:0px;
  width:166px;
  height:43px;
}
#u2643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:162px;
  word-wrap:break-word;
}
#u2644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:43px;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:0px;
  width:127px;
  height:43px;
}
#u2644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  word-wrap:break-word;
}
#u2645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:43px;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:0px;
  width:202px;
  height:43px;
}
#u2645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u2646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:144px;
  height:38px;
}
#u2646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u2647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:43px;
  width:144px;
  height:38px;
}
#u2647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u2648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:43px;
  width:310px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u2649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:43px;
  width:106px;
  height:38px;
}
#u2649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:38px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:43px;
  width:166px;
  height:38px;
}
#u2650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u2651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:43px;
  width:127px;
  height:38px;
}
#u2651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:43px;
  width:202px;
  height:38px;
  color:#3366CC;
}
#u2652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u2653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:144px;
  height:36px;
}
#u2653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:81px;
  width:144px;
  height:36px;
}
#u2654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u2655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:36px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:81px;
  width:310px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:306px;
  word-wrap:break-word;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:81px;
  width:106px;
  height:36px;
}
#u2656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u2657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:81px;
  width:166px;
  height:36px;
}
#u2657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u2658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:81px;
  width:127px;
  height:36px;
}
#u2658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u2659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:81px;
  width:202px;
  height:36px;
  color:#3366CC;
}
#u2659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u2660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:144px;
  height:40px;
  color:#9966FF;
}
#u2660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  word-wrap:break-word;
}
#u2661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:117px;
  width:144px;
  height:40px;
  color:#9966FF;
}
#u2661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  word-wrap:break-word;
}
#u2662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:117px;
  width:310px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9966FF;
}
#u2662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:306px;
  word-wrap:break-word;
}
#u2663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:117px;
  width:106px;
  height:40px;
  color:#9966FF;
}
#u2663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u2664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:117px;
  width:166px;
  height:40px;
  color:#9966FF;
}
#u2664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:117px;
  width:127px;
  height:40px;
  color:#9966FF;
}
#u2665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:117px;
  width:202px;
  height:40px;
  color:#9966FF;
}
#u2666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:198px;
  word-wrap:break-word;
}
#u2667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:194px;
  width:140px;
  height:33px;
  color:#3366CC;
}
#u2667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:20px;
  width:1211px;
  height:48px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1207px;
  word-wrap:break-word;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:201px;
  width:172px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9966FF;
}
#u2670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
