body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:872px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:872px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1281px;
  height:48px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1277px;
  word-wrap:break-word;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:68px;
  width:1281px;
  height:590px;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:94px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:274px;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:94px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:0px;
  width:243px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:239px;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:94px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:0px;
  width:760px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:756px;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:278px;
  height:124px;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:94px;
  width:243px;
  height:124px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:94px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:278px;
  height:124px;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:218px;
  width:243px;
  height:124px;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:218px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:278px;
  height:124px;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:342px;
  width:243px;
  height:124px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:342px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:124px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:278px;
  height:124px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:274px;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:124px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:466px;
  width:243px;
  height:124px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:239px;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:124px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:466px;
  width:760px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:756px;
  word-wrap:break-word;
}
#u1275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:711px;
  width:122px;
  height:20px;
  text-align:right;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
