body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:831px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:831px;
}
#u2669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:415px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:80px;
  width:1168px;
  height:415px;
}
#u2670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:203px;
  width:534px;
  height:37px;
}
#u2671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:214px;
  width:74px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u2672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:210px;
  width:67px;
  height:22px;
}
#u2673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2673_input:disabled {
  color:grayText;
}
#u2674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#9966FF;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:505px;
  width:1322px;
  height:300px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#9966FF;
}
#u2674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  word-wrap:break-word;
}
#u2675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#9966FF;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:24px;
  width:307px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#9966FF;
}
#u2675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u2676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:215px;
  width:75px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u2676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:211px;
  width:67px;
  height:22px;
}
#u2677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2677_input:disabled {
  color:grayText;
}
#u2678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:215px;
  width:64px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u2678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:211px;
  width:67px;
  height:22px;
}
#u2679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2679_input:disabled {
  color:grayText;
}
